#canvasContainer {
    /* display: grid;
    justify-content: center;
    align-content: center; */
    position: relative;
    width: 750px;
    height: 750px;
}

#imageCanvas {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
}

#imageLayer {

    position: absolute;
    top: 0px;
    left: 0px;
    height: 750px;
    width: 750px;
    z-index: 3;

}

#annotationLayer {
    opacity: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 5;

}

.custom-context{
 border: solid 1px #ccc;
 display: inline-block;
 margin: 5px;
 background: #FFF;
 color: #000;
 font-family: sans-serif;
 cursor: pointer;
 font-size: 12px;
}
.custom-context-item{
 border-bottom: dotted 1px #ccc;
 padding: 5px 25px;
}
.custom-context-item-last{
 padding: 5px 25px;
}


